.shop {
  background-color: inherit;
  min-height: max-content;
  max-width: 100%;
  // height: 80rem;
  padding: 2rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; // more then one column align content main axis
  align-items: center; //cross axis
  align-content: space-around; //more then one row align content along cross axis
  gap: 2rem;
}
